.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background-color: aliceblue;
}
.news-list {
    margin-top: 50px;
    display: grid;
    gap: 50px;
}

.news-list .news-item {
    background-color: #deefff;
    padding: 20px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px
}
.news-img img{
    width: 100%;
    border-radius: 10px;
}
.bg-danger {
    width: 150px;
    padding: 5px 10px;
    background-color: antiquewhite;
}

.bg-success {
    width: 150px;
    padding: 5px 10px;
    background-color: #e74c3c;
}

.bg-warning {
    width: 150px;
    padding: 5px 10px;
    background-color: #2f89fc;
}

.bg-secondary {
    width: 150px;
    padding: 5px 10px;
    background-color: #7c9192;
}
.news-item {
    padding: 30px;
    display: grid;
    grid-template-columns: 70% 30%;
    gap: 30px;
    font-size: 22px;
}
.news-item .news-info{
    padding: 15px;
}
.news-item .news-info img{
    width: 100%;
}
.news-item .author-info img{
    width: 100%;
}