.user .student {
    background-color: aliceblue;
    max-width: 1200px;
}

img {
    width: 100%;
}
.cars {
    background-color: blanchedalmond;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    gap: 20px;
    justify-content: space-around;
}
.cars .car {
    padding: 10px;
    background-color: darkkhaki;
}
.cars .car img {
    width: 100%;
}

header {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 30px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    background-color: cornflowerblue;
    border-radius: 20px;
}

body{
    background-color: beige;
    margin: 10px;
}

footer{
    padding: 20px;
    background-color: royalblue;
    border-radius: 30px;
}
footer ul{
    display: flex;
    gap: 20px;
    list-style: none;
    background-color: cornflowerblue;
    border-radius: 20px;
}

