html{
    font-size: 62.5%;
}

.user{
    font-size: 2rem;
    max-width: 50rem;
    background-color: bisque;
}

.cars{
    margin-left: 2rem;
    padding: 0.5rem;
    border: 2px solid blue;
    border-radius: 1rem;
    font-size: 2rem;
    max-width: 25rem;
    background-color: rgba(0, 132, 255, 0.488);
}