* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid-container{
    background-color: aquamarine;
    margin: 20px;
    padding: 20px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 200px 200px;
    gap: 20px;
}

.grid-container .grid-element{
    background-color: bisque;
    padding: 30px;
}