    *{
        padding: 0px;
        margin: 0px;
    }

body {
    background-color: hsl(212, 45%, 89%);
}

.q-code {
    font-family: 'Outfit', sans-serif;
    max-width: 320px;
    background-color: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    ;
}
.q-code img {
    width: 100%;
    border-radius: 10px;
    display: inline-block;
}

.q-code h1 {
    font-size: 22px;
    margin: 20px;

}
.q-code p {
    font-size: 15px;
    color: hsl(220, 15%, 45%);
    margin: 20px;
    letter-spacing: 1px;
}