*{
    margin: 0px;
}

body{
    background-color: hsl(212, 45%, 89%);
}

.box{
    background: hsl(0, 0%, 100%);
    margin: 150px 560px;
    border: 1px solid hsl(212, 45%, 89%);
    width: 320px;
    height: 500px;
    border-radius: 30px;
}

.box_qr{
    background-image: url('img/qr.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    margin: 16px;
    border: 1px solid hsl(218, 44%, 22%);
    width: 288px;
    height: 288px;
    border-radius: 15px;
}

.h3{
     margin: 0px 16px 0px;
}
